/*! CSS Used from: https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css */
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:currentColor;}
::after,::before{--tw-content:'';}
body{margin:0;line-height:inherit;}
h1{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
input{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;letter-spacing:inherit;color:inherit;margin:0;padding:0;}
input:where([type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none;}
h1{margin:0;}
ul{list-style:none;margin:0;padding:0;}
input::placeholder{opacity:1;color:#9ca3af;}
:disabled{cursor:default;}
img{display:block;vertical-align:middle;}
img{max-width:100%;height:auto;}
*{scrollbar-color:color-mix(in oklch,currentColor 35%,transparent) transparent;}
:hover{scrollbar-color:color-mix(in oklch,currentColor 60%,transparent) transparent;}
*,::after,::before{--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.btn{display:inline-flex;height:3rem;min-height:3rem;flex-shrink:0;cursor:pointer;-webkit-user-select:none;user-select:none;flex-wrap:wrap;align-items:center;justify-content:center;border-radius:var(--rounded-btn,.5rem);border-color:transparent;border-color:oklch(var(--btn-color,var(--b2)) / var(--tw-border-opacity));padding-left:1rem;padding-right:1rem;text-align:center;font-size:.875rem;line-height:1em;gap:.5rem;font-weight:600;text-decoration-line:none;transition-duration:.2s;transition-timing-function:cubic-bezier(0,0,0.2,1);border-width:var(--border-btn,1px);transition-property:color,background-color,border-color,opacity,box-shadow,transform;--tw-text-opacity:1;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);--tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);outline-color:var(--fallback-bc,oklch(var(--bc)/1));background-color:oklch(var(--btn-color,var(--b2)) / var(--tw-bg-opacity));--tw-bg-opacity:1;--tw-border-opacity:1;}
.btn:disabled{pointer-events:none;}
.card{position:relative;display:flex;flex-direction:column;border-radius:var(--rounded-box,1rem);}
.card:focus{outline:2px solid transparent;outline-offset:2px;}
.card-body{display:flex;flex:1 1 auto;flex-direction:column;padding:var(--padding-card,2rem);gap:.5rem;}
.checkbox{flex-shrink:0;--chkbg:var(--fallback-bc,oklch(var(--bc)/1));--chkfg:var(--fallback-b1,oklch(var(--b1)/1));height:1.5rem;width:1.5rem;cursor:pointer;appearance:none;border-radius:var(--rounded-btn,.5rem);border-width:1px;border-color:var(--fallback-bc,oklch(var(--bc)/var(--tw-border-opacity)));--tw-border-opacity:0.2;}
@media (hover:hover){
.btn:hover{--tw-border-opacity:1;border-color:var(--fallback-b3,oklch(var(--b3)/var(--tw-border-opacity)));--tw-bg-opacity:1;background-color:var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));}
.btn:disabled:hover{--tw-border-opacity:0;background-color:var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));--tw-bg-opacity:0.2;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-text-opacity:0.2;}
}
.form-control{display:flex;flex-direction:column;}
.label{display:flex;-webkit-user-select:none;user-select:none;align-items:center;justify-content:space-between;padding-left:.25rem;padding-right:.25rem;padding-top:.5rem;padding-bottom:.5rem;}
.input{flex-shrink:1;appearance:none;height:3rem;padding-left:1rem;padding-right:1rem;font-size:1rem;line-height:2;line-height:1.5rem;border-radius:var(--rounded-btn,.5rem);border-width:1px;border-color:transparent;--tw-bg-opacity:1;background-color:var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));}
@media (prefers-reduced-motion:no-preference){
.btn{animation:button-pop var(--animation-btn,.25s) ease-out;}
}
.btn:active:focus,.btn:active:hover{animation:button-pop 0s ease-out;transform:scale(var(--btn-focus-scale,.97));}
.btn-primary{--tw-text-opacity:1;color:var(--fallback-pc,oklch(var(--pc)/var(--tw-text-opacity)));outline-color:var(--fallback-p,oklch(var(--p)/1));}
.btn:disabled{--tw-border-opacity:0;background-color:var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));--tw-bg-opacity:0.2;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-text-opacity:0.2;}
.card-title{display:flex;align-items:center;gap:.5rem;font-size:1.25rem;line-height:1.75rem;font-weight:600;}
.checkbox:focus{box-shadow:none;}
.checkbox:disabled{border-width:0;cursor:not-allowed;border-color:transparent;--tw-bg-opacity:1;background-color:var(--fallback-bc,oklch(var(--bc)/var(--tw-bg-opacity)));opacity:.2;}
.checkbox:checked{background-repeat:no-repeat;animation:checkmark var(--animation-input,.2s) ease-out;background-color:var(--chkbg);background-image:linear-gradient(-45deg,transparent 65%,var(--chkbg) 65.99%),linear-gradient(45deg,transparent 75%,var(--chkbg) 75.99%),linear-gradient(-45deg,var(--chkbg) 40%,transparent 40.99%),linear-gradient(45deg,var(--chkbg) 30%,var(--chkfg) 30.99%,var(--chkfg) 40%,transparent 40.99%),linear-gradient(-45deg,var(--chkfg) 50%,var(--chkbg) 50.99%);}
.label-text{font-size:.875rem;line-height:1.25rem;--tw-text-opacity:1;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));}
.input-bordered{border-color:var(--fallback-bc,oklch(var(--bc)/.2));}
.input:focus{box-shadow:none;outline-style:solid;outline-width:2px;outline-offset:2px;}
.input:disabled{cursor:not-allowed;--tw-border-opacity:1;border-color:var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));--tw-bg-opacity:1;background-color:var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity)));color:var(--fallback-bc,oklch(var(--bc)/.4));}
.input:disabled::placeholder{color:var(--fallback-bc,oklch(var(--bc)/var(--tw-placeholder-opacity)));--tw-placeholder-opacity:0.2;}
[type=checkbox].checkbox-sm{height:1.25rem;width:1.25rem;}
/*! CSS Used from: Embedded */
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb;}
::after,::before{--tw-content:'';}
body{margin:0;line-height:inherit;}
h1{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
input{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;letter-spacing:inherit;color:inherit;margin:0;padding:0;}
input:where([type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none;}
h1{margin:0;}
ul{list-style:none;margin:0;padding:0;}
input::placeholder{opacity:1;color:#9ca3af;}
:disabled{cursor:default;}
img{display:block;vertical-align:middle;}
img{max-width:100%;height:auto;}
*,::before,::after{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
.m-3{margin:0.75rem;}
.m-1{margin:0.25rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mr-1{margin-right:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.flex{display:flex;}
.h-32{height:8rem;}
.min-h-screen{min-height:100vh;}
.w-6\/12{width:50%;}
.w-full{width:100%;}
.cursor-pointer{cursor:pointer;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.justify-center{justify-content:center;}
.self-center{align-self:center;}
.bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));}
.p-2{padding:0.5rem;}
.text-center{text-align:center;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-neutral-500{--tw-text-opacity:1;color:rgb(115 115 115 / var(--tw-text-opacity));}
.underline{-webkit-text-decoration-line:underline;text-decoration-line:underline;}
.shadow-2xl{--tw-shadow:0 25px 50px -12px rgb(0 0 0 / 0.25);--tw-shadow-colored:0 25px 50px -12px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);}
@media (min-width: 640px){
.sm\:w-8\/12{width:66.666667%;}
}
@media (min-width: 768px){
.md\:my-8{margin-top:2rem;margin-bottom:2rem;}
.md\:w-6\/12{width:50%;}
}
@media (min-width: 1024px){
.lg\:w-4\/12{width:33.333333%;}
}
@media (prefers-color-scheme: dark){
.dark\:bg-gray-800{--tw-bg-opacity:1;background-color:rgb(31 41 55 / var(--tw-bg-opacity));}
.dark\:text-white{--tw-text-opacity:1;color:rgb(255 255 255 / var(--tw-text-opacity));}
.dark\:text-neutral-400{--tw-text-opacity:1;color:rgb(163 163 163 / var(--tw-text-opacity));}
}
/*! CSS Used from: http://localhost:8080/resources/ozh3e/login/keycloak-theme/css/login.css */
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:currentColor;}
::after,::before{--tw-content:'';}
body{margin:0;line-height:inherit;}
h1{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
input{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;letter-spacing:inherit;color:inherit;margin:0;padding:0;}
input:where([type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none;}
h1{margin:0;}
ul{list-style:none;margin:0;padding:0;}
input::placeholder{opacity:1;color:#9ca3af;}
:disabled{cursor:default;}
img{display:block;vertical-align:middle;}
img{max-width:100%;height:auto;}
*{scrollbar-color:color-mix(in oklch,currentColor 35%,transparent) transparent;}
:hover{scrollbar-color:color-mix(in oklch,currentColor 60%,transparent) transparent;}
*,::after,::before{--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.btn{display:inline-flex;height:3rem;min-height:3rem;flex-shrink:0;cursor:pointer;-webkit-user-select:none;user-select:none;flex-wrap:wrap;align-items:center;justify-content:center;border-radius:var(--rounded-btn,.5rem);border-color:transparent;border-color:oklch(var(--btn-color,var(--b2)) / var(--tw-border-opacity));padding-left:1rem;padding-right:1rem;text-align:center;font-size:.875rem;line-height:1em;gap:.5rem;font-weight:600;text-decoration-line:none;transition-duration:.2s;transition-timing-function:cubic-bezier(0,0,0.2,1);border-width:var(--border-btn,1px);transition-property:color,background-color,border-color,opacity,box-shadow,transform;--tw-text-opacity:1;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);--tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);outline-color:var(--fallback-bc,oklch(var(--bc)/1));background-color:oklch(var(--btn-color,var(--b2)) / var(--tw-bg-opacity));--tw-bg-opacity:1;--tw-border-opacity:1;}
.btn:disabled{pointer-events:none;}
.card{position:relative;display:flex;flex-direction:column;border-radius:var(--rounded-box,1rem);}
.card:focus{outline:2px solid transparent;outline-offset:2px;}
.card-body{display:flex;flex:1 1 auto;flex-direction:column;padding:var(--padding-card,2rem);gap:.5rem;}
.checkbox{flex-shrink:0;--chkbg:var(--fallback-bc,oklch(var(--bc)/1));--chkfg:var(--fallback-b1,oklch(var(--b1)/1));height:1.5rem;width:1.5rem;cursor:pointer;appearance:none;border-radius:var(--rounded-btn,.5rem);border-width:1px;border-color:var(--fallback-bc,oklch(var(--bc)/var(--tw-border-opacity)));--tw-border-opacity:0.2;}
@media (hover:hover){
.btn:hover{--tw-border-opacity:1;border-color:var(--fallback-b3,oklch(var(--b3)/var(--tw-border-opacity)));--tw-bg-opacity:1;background-color:var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));}
.btn:disabled:hover{--tw-border-opacity:0;background-color:var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));--tw-bg-opacity:0.2;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-text-opacity:0.2;}
}
.form-control{display:flex;flex-direction:column;}
.label{display:flex;-webkit-user-select:none;user-select:none;align-items:center;justify-content:space-between;padding-left:.25rem;padding-right:.25rem;padding-top:.5rem;padding-bottom:.5rem;}
.input{flex-shrink:1;appearance:none;height:3rem;padding-left:1rem;padding-right:1rem;font-size:1rem;line-height:2;line-height:1.5rem;border-radius:var(--rounded-btn,.5rem);border-width:1px;border-color:transparent;--tw-bg-opacity:1;background-color:var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));}
@media (prefers-reduced-motion:no-preference){
.btn{animation:button-pop var(--animation-btn,.25s) ease-out;}
}
.btn:active:focus,.btn:active:hover{animation:button-pop 0s ease-out;transform:scale(var(--btn-focus-scale,.97));}
.btn-primary{--tw-text-opacity:1;color:var(--fallback-pc,oklch(var(--pc)/var(--tw-text-opacity)));outline-color:var(--fallback-p,oklch(var(--p)/1));}
.btn:disabled{--tw-border-opacity:0;background-color:var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));--tw-bg-opacity:0.2;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));--tw-text-opacity:0.2;}
.card-title{display:flex;align-items:center;gap:.5rem;font-size:1.25rem;line-height:1.75rem;font-weight:600;}
.checkbox:focus{box-shadow:none;}
.checkbox:disabled{border-width:0;cursor:not-allowed;border-color:transparent;--tw-bg-opacity:1;background-color:var(--fallback-bc,oklch(var(--bc)/var(--tw-bg-opacity)));opacity:.2;}
.checkbox:checked{background-repeat:no-repeat;animation:checkmark var(--animation-input,.2s) ease-out;background-color:var(--chkbg);background-image:linear-gradient(-45deg,transparent 65%,var(--chkbg) 65.99%),linear-gradient(45deg,transparent 75%,var(--chkbg) 75.99%),linear-gradient(-45deg,var(--chkbg) 40%,transparent 40.99%),linear-gradient(45deg,var(--chkbg) 30%,var(--chkfg) 30.99%,var(--chkfg) 40%,transparent 40.99%),linear-gradient(-45deg,var(--chkfg) 50%,var(--chkbg) 50.99%);}
.label-text{font-size:.875rem;line-height:1.25rem;--tw-text-opacity:1;color:var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));}
.input-bordered{border-color:var(--fallback-bc,oklch(var(--bc)/.2));}
.input:focus{box-shadow:none;outline-style:solid;outline-width:2px;outline-offset:2px;}
.input:disabled{cursor:not-allowed;--tw-border-opacity:1;border-color:var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));--tw-bg-opacity:1;background-color:var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity)));color:var(--fallback-bc,oklch(var(--bc)/.4));}
.input:disabled::placeholder{color:var(--fallback-bc,oklch(var(--bc)/var(--tw-placeholder-opacity)));--tw-placeholder-opacity:0.2;}
[type=checkbox].checkbox-sm{height:1.25rem;width:1.25rem;}
.btn-primary{background-color:#F280A1;border-color:#F280A1;color:#FFFFFF;outline-color:#F280A1;}
.btn-primary:hover{background-color:#c86b85;outline-color:#c86b85;border-color:#c86b85;}
.btn-primary:focus{border-color:#c86b85;outline-color:#c86b85;}
@media (max-width: 640px){
.card{border-radius:0;}
}
.locale-list span:last-child{display:none;}
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb;}
::after,::before{--tw-content:'';}
body{margin:0;line-height:inherit;}
h1{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
input{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;letter-spacing:inherit;color:inherit;margin:0;padding:0;}
input:where([type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none;}
h1{margin:0;}
ul{list-style:none;margin:0;padding:0;}
input::placeholder{opacity:1;color:#9ca3af;}
:disabled{cursor:default;}
img{display:block;vertical-align:middle;}
img{max-width:100%;height:auto;}
*,::before,::after{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
.m-3{margin:0.75rem;}
.m-1{margin:0.25rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mr-1{margin-right:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.flex{display:flex;}
.h-32{height:8rem;}
.min-h-screen{min-height:100vh;}
.w-6\/12{width:50%;}
.w-full{width:100%;}
.cursor-pointer{cursor:pointer;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.justify-center{justify-content:center;}
.self-center{align-self:center;}
.bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));}
.p-2{padding:0.5rem;}
.text-center{text-align:center;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-neutral-500{--tw-text-opacity:1;color:rgb(115 115 115 / var(--tw-text-opacity));}
.underline{-webkit-text-decoration-line:underline;text-decoration-line:underline;}
.shadow-2xl{--tw-shadow:0 25px 50px -12px rgb(0 0 0 / 0.25);--tw-shadow-colored:0 25px 50px -12px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);}
@media (min-width: 640px){
.sm\:w-8\/12{width:66.666667%;}
}
@media (min-width: 768px){
.md\:my-8{margin-top:2rem;margin-bottom:2rem;}
.md\:w-6\/12{width:50%;}
}
@media (min-width: 1024px){
.lg\:w-4\/12{width:33.333333%;}
}
@media (prefers-color-scheme: dark){
.dark\:bg-gray-800{--tw-bg-opacity:1;background-color:rgb(31 41 55 / var(--tw-bg-opacity));}
.dark\:text-white{--tw-text-opacity:1;color:rgb(255 255 255 / var(--tw-text-opacity));}
.dark\:text-neutral-400{--tw-text-opacity:1;color:rgb(163 163 163 / var(--tw-text-opacity));}
}
/*! CSS Used keyframes */
@keyframes button-pop{0%{transform:scale(var(--btn-focus-scale,.98));}40%{transform:scale(1.02);}100%{transform:scale(1);}}
@keyframes button-pop{0%{transform:scale(var(--btn-focus-scale,.98));}40%{transform:scale(1.02);}100%{transform:scale(1);}}
@keyframes checkmark{0%{background-position-y:5px;}50%{background-position-y:-2px;}100%{background-position-y:0;}}
@keyframes checkmark{0%{background-position-y:5px;}50%{background-position-y:-2px;}100%{background-position-y:0;}}

html {font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

@media (min-width: 640px) {
  html {
  background-image: url(../img/guildOnHill.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}
}

@media (max-width: 640px) {
  .shadow-2xl {
    box-shadow: 0 0;
  }
}

.card-title {
  color: oklch(0.278078 0.029596 256.848);
}

label {
  color: oklch(0.278078 0.029596 256.848);
}

@media (prefers-color-scheme: dark) {

  .card-title {
    color: #ffffff;
  }

  label {
    color: #ffffff;
  }

  input.input-bordered, .checkbox {
    background-color: oklch(0.253267 0.015896 252.418) !important;
    border-color: oklch(0.278078 0.029596 256.848 / 0.2) !important;
  }

  input.input-focus:focus {
    outline-color: oklch(0.746477 0.0216 264.436 / 0.2) !important;
  }

  .checkbox {
    --chkbg: #252525;
    --chkfg: #ffffff;
  }

  html {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }

}

input.input-bordered, .checkbox {
  border-color: oklch(0.278078 0.029596 256.848 / 0.2);
  background-color: oklch(1 0 0);
  border-width: 0.66666667px;
}

input.input-focus {
  outline-color: oklch(0.278078 0.029596 256.848 / 0.2);
  border-color: oklch(0.278078 0.029596 256.848 / 0.2);
  scrollbar-color: oklch(0.278078 0.029596 256.848 / 0.6);
}

input:focus {
  outline-color: oklch(0.278078 0.029596 256.848 / 0.2);
}

.checkbox {
  --chkbg: #252525;
  --chkfg: #ffffff;
  transition: 0.1s;
  accent-color: #ffffff;
}

.alert-error {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  align-content: flex-start;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  text-align: center;
  border-width: 1px;
  border-radius: 8px;
  border-color: oklch(0.7176 0.221 22.18 / 0.2);
  padding: 1rem;
  color: #000000;
  background-color: oklch(0.7176 0.221 22.18);
  margin-top: 0.5rem;
}
.btn-secondary{background-color:#9966CC;border-color:#9966CC;color:#FFFFFF;outline-color:#9966CC;}
.btn-secondary:hover{background-color:#7b49ad;outline-color:#7b49ad;border-color:#7b49ad;}
.btn-secondary:focus{border-color:#7b49ad;outline-color:#7b49ad;}

@media (min-width: 1524px) {
  .login-container {
    width: 27%;
  }
}
.page-container {
  display: flex;
  align-items: center;
}